*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
config/.bash_history
.history
srdb/
Thumbs.db
desktop.ini

*.log
*.sql
*.sql.*

index.php
xmlrpc.php
.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz

wp-admin
wp-includes
wp-*.php
**/wp-content/languages
**/wp-content/uploads
**/wp-content/upgrade
**/wp-content/plugins
**/wp-content/ai1wm-backups
!**/wp-content/themes
!**/wp-content/themes/**
**/wp-content/themes/index.php

!*/.htaccess
!*/index.php

**/wp-content/themes/.DS_Store
**/wp-content/updraft
